.google-map {
    display: block;
    min-height: 420px;
}

@media (max-width: 991.98px) {
    .form-wrapper {
        padding: 2rem !important;
    }

    .google-map {
        min-height: 360px;
    }
}
