<section class="container-fluid page-header py-5 mb-5">
    <div class="container text-center py-5">
        <h1 class="display-3 text-white text-uppercase mb-3 animated slideInDown">Barberos</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center text-uppercase mb-0">
                <li class="breadcrumb-item"><a class="text-white" routerLink="/">Inicio</a></li>
                <li class="breadcrumb-item"><a class="text-white" routerLink="/team">Páginas</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Barberos</li>
            </ol>
        </nav>
    </div>
</section>

<section class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 600px;">
            <p class="d-inline-block bg-secondary text-primary py-1 px-4">Equipo</p>
            <h1 class="text-uppercase">Nuestros barberos</h1>
        </div>

        <div class="row g-4">
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid" src="/img/team-1.jpg" alt="Barbero 1">
                        <div class="team-social">
                            <a class="btn btn-square" href="https://facebook.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href="https://twitter.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href="https://instagram.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary text-center p-4">
                        <h5 class="text-uppercase">Barbero Senior</h5>
                        <span class="text-primary">Cortes clásicos</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid" src="/img/team-2.jpg" alt="Barbero 2">
                        <div class="team-social">
                            <a class="btn btn-square" href="https://facebook.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href="https://twitter.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href="https://instagram.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary text-center p-4">
                        <h5 class="text-uppercase">Especialista en barba</h5>
                        <span class="text-primary">Perfilado</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid" src="/img/team-3.jpg" alt="Barbero 3">
                        <div class="team-social">
                            <a class="btn btn-square" href="https://facebook.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href="https://twitter.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href="https://instagram.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary text-center p-4">
                        <h5 class="text-uppercase">Estilista</h5>
                        <span class="text-primary">Coloración</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid" src="/img/team-4.jpg" alt="Barbero 4">
                        <div class="team-social">
                            <a class="btn btn-square" href="https://facebook.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href="https://twitter.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href="https://instagram.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary text-center p-4">
                        <h5 class="text-uppercase">Barbero Junior</h5>
                        <span class="text-primary">Atención general</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid" src="/img/team-2.jpg" alt="Barbero 5">
                        <div class="team-social">
                            <a class="btn btn-square" href="https://facebook.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href="https://twitter.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href="https://instagram.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary text-center p-4">
                        <h5 class="text-uppercase">Especialista urbano</h5>
                        <span class="text-primary">Degradados</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid" src="/img/team-3.jpg" alt="Barbero 6">
                        <div class="team-social">
                            <a class="btn btn-square" href="https://facebook.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href="https://twitter.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href="https://instagram.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary text-center p-4">
                        <h5 class="text-uppercase">Asesor de imagen</h5>
                        <span class="text-primary">Estilo personal</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid" src="/img/team-4.jpg" alt="Barbero 7">
                        <div class="team-social">
                            <a class="btn btn-square" href="https://facebook.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href="https://twitter.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href="https://instagram.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary text-center p-4">
                        <h5 class="text-uppercase">Técnico capilar</h5>
                        <span class="text-primary">Tratamientos</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid" src="/img/team-1.jpg" alt="Barbero 8">
                        <div class="team-social">
                            <a class="btn btn-square" href="https://facebook.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square" href="https://twitter.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square" href="https://instagram.com" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                    <div class="bg-secondary text-center p-4">
                        <h5 class="text-uppercase">Barbero clásico</h5>
                        <span class="text-primary">Afeitado</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
