<section class="container-fluid page-header py-5 mb-5">
    <div class="container text-center py-5">
        <h1 class="display-3 text-white text-uppercase mb-3 animated slideInDown">Servicios</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center text-uppercase mb-0">
                <li class="breadcrumb-item"><a class="text-white" routerLink="/">Inicio</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Servicios</li>
            </ol>
        </nav>
    </div>
</section>

<section class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 600px;">
            <p class="d-inline-block bg-secondary text-primary py-1 px-4">Servicios</p>
            <h1 class="text-uppercase">Lo que ofrecemos</h1>
        </div>

        <div class="row g-4">
            <div class="col-lg-4 col-md-6">
                <div class="service-item position-relative overflow-hidden bg-secondary d-flex h-100 p-5 ps-0">
                    <div class="bg-dark d-flex flex-shrink-0 align-items-center justify-content-center" style="width: 60px; height: 60px;">
                        <img class="img-fluid" src="/img/haircut.png" alt="Corte de cabello">
                    </div>
                    <div class="ps-4">
                        <h3 class="text-uppercase mb-3">Corte de cabello</h3>
                        <p>Corte tradicional con acabado profesional.</p>
                        <span class="text-uppercase text-primary">Desde $8</span>
                    </div>
                    <a class="btn btn-square" routerLink="/login"><i class="fa fa-plus text-primary"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service-item position-relative overflow-hidden bg-secondary d-flex h-100 p-5 ps-0">
                    <div class="bg-dark d-flex flex-shrink-0 align-items-center justify-content-center" style="width: 60px; height: 60px;">
                        <img class="img-fluid" src="/img/beard-trim.png" alt="Arreglo de barba">
                    </div>
                    <div class="ps-4">
                        <h3 class="text-uppercase mb-3">Arreglo de barba</h3>
                        <p>Perfilado, contorno y mantenimiento de barba.</p>
                        <span class="text-uppercase text-primary">Desde $6</span>
                    </div>
                    <a class="btn btn-square" routerLink="/login"><i class="fa fa-plus text-primary"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service-item position-relative overflow-hidden bg-secondary d-flex h-100 p-5 ps-0">
                    <div class="bg-dark d-flex flex-shrink-0 align-items-center justify-content-center" style="width: 60px; height: 60px;">
                        <img class="img-fluid" src="/img/mans-shave.png" alt="Afeitado">
                    </div>
                    <div class="ps-4">
                        <h3 class="text-uppercase mb-3">Afeitado</h3>
                        <p>Afeitado detallado con acabado limpio.</p>
                        <span class="text-uppercase text-primary">Desde $7</span>
                    </div>
                    <a class="btn btn-square" routerLink="/login"><i class="fa fa-plus text-primary"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service-item position-relative overflow-hidden bg-secondary d-flex h-100 p-5 ps-0">
                    <div class="bg-dark d-flex flex-shrink-0 align-items-center justify-content-center" style="width: 60px; height: 60px;">
                        <img class="img-fluid" src="/img/hair-dyeing.png" alt="Coloración">
                    </div>
                    <div class="ps-4">
                        <h3 class="text-uppercase mb-3">Coloración</h3>
                        <p>Servicio de coloración para renovar el estilo.</p>
                        <span class="text-uppercase text-primary">Desde $18</span>
                    </div>
                    <a class="btn btn-square" routerLink="/login"><i class="fa fa-plus text-primary"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service-item position-relative overflow-hidden bg-secondary d-flex h-100 p-5 ps-0">
                    <div class="bg-dark d-flex flex-shrink-0 align-items-center justify-content-center" style="width: 60px; height: 60px;">
                        <img class="img-fluid" src="/img/mustache.png" alt="Bigote">
                    </div>
                    <div class="ps-4">
                        <h3 class="text-uppercase mb-3">Bigote</h3>
                        <p>Perfilado y mantenimiento de bigote.</p>
                        <span class="text-uppercase text-primary">Desde $5</span>
                    </div>
                    <a class="btn btn-square" routerLink="/login"><i class="fa fa-plus text-primary"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service-item position-relative overflow-hidden bg-secondary d-flex h-100 p-5 ps-0">
                    <div class="bg-dark d-flex flex-shrink-0 align-items-center justify-content-center" style="width: 60px; height: 60px;">
                        <img class="img-fluid" src="/img/stacking.png" alt="Tratamiento capilar">
                    </div>
                    <div class="ps-4">
                        <h3 class="text-uppercase mb-3">Tratamiento capilar</h3>
                        <p>Cuidado y mantenimiento para una mejor presentación.</p>
                        <span class="text-uppercase text-primary">Desde $10</span>
                    </div>
                    <a class="btn btn-square" routerLink="/login"><i class="fa fa-plus text-primary"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
